.tetris-board {
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;


    .tetris-cell {
        border: 1px solid;
        width: 30px;
        height: 30px;

        &.occupied {
            background-color: black;

            &.I {
                background-color: cyan;
            }

            &.J {
                background-color: blue;
            }

            &.L {
                background-color: orange;
            }

            &.O {
                background-color: yellow;
            }

            &.S {
                background-color: green;
            }

            &.T {
                background-color: purple;
            }
    
            &.Z {
                background-color: red;
            }
        }

        
    }
}