<div class="board">
  <div class="grid-container {{ paused ? 'paused' : 'active' }}">
    <table class="grid">
      <tbody>
        <tr *ngFor="let row of board; let r = index;">
          <td *ngFor="let cell of row; let c = index" class="tetris-cell {{ getCellClass(r, c) }}"></td>
        </tr>
      </tbody>
    </table>

    <div class="mask">
      <div class="mask-content">
        <h3>Paused</h3>
        <button (click)="pause()">Resume</button>
      </div>
    </div>
  </div>
  <div class="grid-sidebar">
    <!-- Next Tetrimino -->
    <div>
      <tetrimino-grid [height]="5" [width]="5" [active]="stageTetrimino"></tetrimino-grid>
    </div>

    <!-- Controls -->
    <table>
      <tbody>
        <tr>
          <td></td>
          <td><button (click)="rotate()">Rotate</button></td>
          <td></td>
        </tr>
        <tr>
          <td><button (click)="left()">Left</button></td>
          <td><button (click)="down()">Down</button></td>
          <td><button (click)="right()">Right</button></td>
        </tr>
        <tr>
          <td></td>
          <td><button (click)="pause()">{{ paused ? 'Resume' : 'Pause' }}</button></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
